<template>
  <div class="about">
    <h1>This is an about page</h1>
    <Interests />
  </div>
</template>


<script>
  import Interests from '@/components/Interests.vue';

  export default {
    name: 'about',
    components: {
      Interests,
    },
  };
</script>