<template>
  <div class="contact">
    <h1>This is an contact page</h1>
    <p>{{ email }}</p>
  </div>
</template>


<script>
export default {
  data() {
    return {
      email: 'afenwickdev@gmail.com',
    }
  },
};
</script>
