<template>
  <div>
    <h2>My Interests</h2>
    <ul class="interests">
      <li v-for="(item, index) in interestList" :key="index">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'interests',
    data() {
      return {
        interestList: ['Playing video games', 'Alcohol', 'Movies', 'Lifting heavy things up'],
      }
    }
  }
</script>

<style lang="scss">
.interests {
  list-style: none;
}
</style>
